.header {
  padding: 10px 0;
  background-color: rgb(220, 245, 240);
  border-bottom: 1px solid rgba(0, 22, 148, 0.192);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}